{% extends "layout.html" %}
{% block title %}
Form - Enter The Filter
{% endblock %}
{% block content %}
<p>Form page for: Company File and Search.</p>

<form action="/data/" method = "POST">
    <p>Company <input type = "text" name = "Company" /></p>
    <p>City <input type = "text" name = "City" /></p>
    <p>State <input type = "text" name = "State" /></p>
    <hr>
    <p>Company Filter <input type = "text" name = "CompFilter" /></p>
    <p>DESC Sort<input type="radio" id="sortway" name = "SortFilter" value="desc">
    <p><input type = "submit" value = "Submit" /></p>
</form>

{% endblock %}